<footer>
    
    <div>
        <div id="footer-content">
            <div id="footer-content-1">
                <h6>About</h6>
                <p class="text-justify">Catching A Phish is<i> a web-based game application teaching users to apply psychological skills to combat modern Phishing attacks.</i></p>
            </div>
            
            <div id="footer-content-2">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="{{ url_for('about_bp.about') }}">About Us</a></li>
                    <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
                </ul>
            </div>

            <div id="footer-content-3">
                <h6>Our Skills</h6>
                <ul>
                    <li><img src="../static/images/logos/python_logo_bw.png" width="28" alt="Github logo"></li>
                    <li><img src="../static/images/logos/js_logo.png" width="30" alt="Github logo"></li>
                    <li><img src="../static/images/logos/html_logo.png" width="28" alt="Github logo"></li>
                    <li><img src="../static/images/logos/css_logo.webp" width="30" alt="Github logo"></li>
                </ul>
            </div>

            <br>
        </div>
    

    <hr>
    
        <div id="footer-particulars">
            <div>
                <div id="footer-particulars-1">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Team 19.</p>
                </div>

                <div id="footer-particulars-2">
                    <ul>
                        <li><a href="https://github.com/uoa-compsci399-s1-2022/team19" target="_blank"><img src="../static/images/logos/github_logo.png" width="40" alt="Github logo"></a></li>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</footer>