<header id="header">
    <a id="header-button" href="https://github.com/uoa-compsci399-s1-2022/team19" target="_blank">GitHub</a>
    {% if 'user_name' not in session %}
        <a class="btn-top" href="{{ url_for('authentication_bp.register') }}">Register</a>
        <a class="btn-top" href="{{ url_for('authentication_bp.login') }}">Login</a>
    {%endif %}
    {% if 'user_name' in session %}
        <a class="btn-top" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
    {%endif %}
</header>