<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <h2>Register.</h2>
        <input type="text" placeholder="Name"/>
        <input type="password" placeholder="Password"/>
        <input type="password" placeholder="Confirm Password"/>
        <input type="text" placeholder="Email"/>
        <button>Create account</button>
        <p class="message">Already registered? <a href="#"><b>Sign in</b></a></p>
      </form>

      <form class="login-form">
        <h2>Sign in.</h2>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button>Login</button>
        <p class="message">Not registered? <a href="#"><b>Create an account</b></a></p>
      </form>
    </div>
  </div>
  <script src="/static/js/app.js"></script>
</body>
</html>