<div id="nav-bar">
  <div class="hamburger-icon" id="icon">
    <div class="icon-1" id="a"></div>
    <div class="icon-2" id="b"></div>
    <div class="icon-3" id="c"></div>
    <div class="clear"></div>
  </div>
  
  <nav id="nav">
    <ul>
      <li><a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a></li>
      <li><a class="btn-nav" href="{{ url_for('about_bp.about') }}">About</a></li>
    </ul>
  </nav>

  <script src="../static/animations/nav_script.js" type="text/javascript"></script> 
  
</div>