/* COLOURS 
#2C2836 - dark and dim purple
#514886 - dark purple
#7E76A9 - medium purple
#2C2836 - dark grey (footer text)
#D9D57C - dim yellow
#F0E43C - bright yellow
*/

/* MAIN STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.2mm;
}

body,
html {
  height: 100%;
  color: white;
  background-color: #514886;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: white;
}

/* HEADER */
#header {
  color: white;
  background-color: #7E76A9;
  text-align: right;
  align-items: flex-end;
  height: 65px;
}

#header-button {
  display: inline-block;
  text-align: center;
  z-index: 0;
  margin-top: 19px;
  margin-right: 20px;
  padding: 5px 15px;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: #7E76A9;
}

#header-button:hover {
  color: #F0E43C;
  transition: 500ms;
}



/* NAVIGATION */
nav {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  background: #7E76A9;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition-delay: 100ms;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
} .icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
} .icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
} .icon-1.a {
  transform: rotate(40deg);
} .icon-3.b {
  transform: rotate(-40deg);
} .icon-2.c {
  opacity: 0;
} .clear {
  clear: both;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0);
}
.hamburger-icon:hover {
  transform: scale(1.2);
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}

#nav-bar nav ul {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 5%;
}

#nav-bar nav ul li a {
  color: white;
  list-style: none;
  font-size: 24px;
  height: 200px;
  background-color: #7E76A9;
}

#nav-bar nav ul li a:hover {
  color: #F0E43C;
  transition: 500;
}

nav.show {
  width: 15%;
  opacity: 1;
  box-shadow: 0 0 0 10000px rgba(0,0,0,.25);
  z-index: inherit;
}


/* ABOUT PAGE */
#about-content {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
}

#about-content-heading {
  text-align: left;
  font-family: "Courier New";
}

#about-content-text {
  text-align: justify;
}

#about-content-images {
  display: inline-block;
  align-items: center;
  align-content: center;
  align-self: center;
  height: auto;
  margin: 30px auto 30px auto;
  border-radius: 2px;
}



/* FOOTER */
body #footer {
  color: white;
}

body #footer div {
  background-color: #2C2836;
}

#footer-content, #footer-particulars {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#footer-content h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}
#footer-content p, a, ul, #footer-particulars p {
  color:#737373;
  text-decoration: none;
}

#footer-content a:hover {
  color: #fff;
  transition: 500ms;
}

#footer-content #footer-content-1 { 
  width: 50%;
  float: left;
  text-align: justify;
}
#footer-content #footer-content-2 { 
  width: 85%;
  float: left;
  padding-left: 100px;
  padding-right: 50px;
}
#footer-content #footer-content-3 { 
  width: 20%;
  float: left;
}

#footer-particulars #footer-particulars-1 { 
  width: 50%;
  float: left;
  text-align: justify;
}
#footer-particulars #footer-particulars-2 { 
  width: 50%;
  padding-left: 400px;
}

#footer hr
{
  border-top-color:#bbb;
  opacity: 0.5;
  margin-left: 20%;
  margin-right: 20%;
}
