
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"/>
    <meta name="description" content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."/>
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#1E90FF" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs/cloudflare.com/akax/libs/semantic-ui/2.4.1/semantic.min.css"></script>
    <link rel="stylesheet" href="../../static/css/styles.css" type="text/css"/>
  </head>

        <div class="ui massive labeled menu">
            <div class="item">Dashboard</div>
            <a class="active teal item">
                <i class="inbox icon"></i>
                Inbox
                <div class="ui label">20</div>
            </a>
            <a class="item">
                <i class="exclamation triangle icon"></i>
                Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">
                <i class="star outline icon"></i>
                Starred
                <div class="ui label">12</div>
            </a>
            <a class="item">
                <i class="paper plane outline icon"></i>
                Sent
                <div class="ui label">21</div>
            </a>
            <a class="item">
                <i class="newspaper outline icon"></i>
                Drafts
                <div class="ui label">2</div>
            </a>

            <a class="item" id="home" href="{{ url_for('home_bp.home') }}">Exit</a>
        </div>


    <body>
        <!-- This is a layout of a "yes" or "no" mutichoice questions, we could add different layout as well, the link below is the video i have followed -->
        <!--https://www.youtube.com/watch?v=PXnS8ftfCr8-->
        <h1>Let's go</h1>


            <form action="/submitquiz" method="post">
                {% for question in questionlist %}
                <p>question{{ question.question_id }}<br> Is this email a phish or a genuine voucher?</p>
                <h4>
                    {{ question.email_content }} <br>
                <input type="radio" name="{{ question.question_id }}" value="Illegitimate" required> Illegitimate
                <input type="radio" name="{{ question.question_id }}" value="Legitimate" required> Legitimate
                </h4>
                    {% endfor %}

                <br><br>
                <input type="submit" name="submitform" value="Submit">
                <!-- <a class="ui inverted button" href="{{ url_for('submit_bp.submit') }}">submit</a> -->
            </form>
    </body>




