
{% extends 'layout.html' %} {% block content %}
<html>

<body>
    <form action="/submitquiz2" method="post">
        <div class="quiz2Content">
    {% for question in questionlist%}
            <div id="quiz2Q">
        <p>
            {{question.getQ_id()}}.{{question.getQuestion()}} <br>
            </p>
            </div>
        <input type="radio" name="{{question.getQ_id()}}" value="{{question.getOption1()}}"> {{question.getOption1()}} <br>
        <input type="radio" name="{{question.getQ_id()}}" value="{{question.getOption2()}}"> {{question.getOption2()}}<br>
        <input type="radio" name="{{question.getQ_id()}}" value="{{question.getOption3()}}"> {{question.getOption3()}}<br>
        <input type="radio" name="{{question.getQ_id()}}" value="{{question.getOption4()}}"> {{question.getOption4()}}<br>
        <br>
        <br>
    {% endfor %}

            <input type="submit" name="submitform" value="Submit">
        </div>

    </form>


</body>
</html>

{% endblock %}