{% extends 'layout.html' %} {% block content %}

<html>

<head>

</head>
<body>
    <form action="/submitquiz2" method="post">
        <div class="quiz2Content">

            <div id="quiz2Q">
        <h4>
            {{question.getQuestion()}} <br>
            </h4>
            </div>
            Option 1: {{question.getOption1()}}<br>
            Option 2: {{question.getOption2()}}<br>
            Option 3: {{question.getOption3()}}<br>
            Option 4: {{question.getOption4()}}<br>


          <br><br>
                {% if not results %}
                        <div class="extra content">

                            <a href="{{ url_for('submit_bp2.submit2', page_number = current_page, option = 1) }}">
                                <input class="ui button" value="Submit 1">
                            </a>

                            <a href="{{ url_for('submit_bp2.submit2', page_number = current_page, option = 2) }}">
                                <input class="ui button" value="Submit 2">
                            </a>

                            <a href="{{ url_for('submit_bp2.submit2', page_number = current_page, option = 3) }}">
                                <input class="ui button" value="Submit 3">
                            </a>

                            <a href="{{ url_for('submit_bp2.submit2', page_number = current_page, option = 4) }}">
                                <input class="ui button" value="Submit 4">
                            </a>

                        {% elif results %}
                        <div id="quiz-results">
                            {% include 'quiz/result2.html' %}
                        </div>
                        {% endif %}
                        </div>
        </div>

        <div class="quiz-pagination-footer">
            {% include 'quiz/pagination2.html' %}
        </div>

    </form>


</body>
</html>

{% endblock %}