{% extends 'layout.html' %}
{% block content %}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/project.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<div class="phish">
    <div id="head" class="flex-column flex-center">
        <h1>Take a quiz</h1>
        <a href="/game.html" class="button">Start</a>
        <a href="/score.html" id="scoreboard" class="button">Score board</a>
    </div>
</div>
<div class="top-corner">

    {% if 'user_name' not in session %}
        <a class="btn-top" href="{{ url_for('authentication_bp.register') }}">Register</a>
        <a class="btn-top" href="{{ url_for('authentication_bp.login') }}">Login</a>
    {%endif %}
    {% if 'user_name' in session %}
        <a class="btn-top" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
    {%endif %}

</div>
</body>
{% endblock %}