{% extends 'layout.html' %} {% block content %}
<div class="result2">
    {% if quiz_result != "3" %}
    <div id="qresult">
        <p> The result of the quiz is {{quiz_result}}points</p> <br>
    </div>
    <p>Here are the questions you have got it wrong</p>

    <div id="wrongQ">
        {% for question in wrong_question%}
        <p class="question">- question {{question.getQ_id()}} </p>


    </div>


        {% endfor %}
        <a class="ui huge primary button" href="{{ url_for('solution_bp.solution') }}">check solutions</a>
        <a class="ui huge primary button" href="{{ url_for('quiz_bp2.quiz2') }}">Play Again</a>
    {% else %}
        <p class="question">You did a fantastic job! All the questions are correct!</p>
        <a class="ui huge primary button" href="{{ url_for('quiz_bp2.quiz2') }}">Play Again</a>
        <a class="ui huge primary button" href="{{ url_for('modules_bp.modules') }}">Exit</a>

    {% endif %}
    <br><br>


</div>
{% endblock %}